@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  border: none; 
  outline: none;
}
body{
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hamburger{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;
}
.menu-btn{
  color: #ffab00;
}

.sidenav{
  /* From https://css.glass */
  background: rgba(7, 7, 7, 0.2);
  border-radius: 0 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  }
  .nav-wrapper li a{
    font-size: 1.3em;
    font-weight: 500;
  }


  /* Telas maiores que 800px */
    @media (min-width: 800px) {

        .logo {
          width: 280px;
        }
        
        #mobile-links{
          display: none;
        }
         /*main*/
        .anuncio{ 
            margin: 15% 0 0 0;
            border-radius: 10px;  
            background: rgba(0, 0, 0, 0.287); 
        }
        .anuncio p{
          font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 700;
        }
        .botao{
            border: solid 2px #ffc107;
            border-radius: 10px;
            background-image: linear-gradient(to right, #f9d423 0%, #a07501 100%);
            color: black;
            font-weight: 500;
            border-radius: 10px;
            padding: 15px 45px;
            margin-top: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        .titulo-financiamento{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:40px;
          color:grey;
          font-weight: 600;
          padding: 0 10px 10px 10px;
        }
        /*projetos*/
        .projetos-titulo{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:40px;
          color:gray ;
          font-weight: 600;
          padding: 0 10px 10px 10px;
        }
        /* serviços*/
        .servicos-titulo{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:40px;
          color:gray;
          font-weight: 600;
          margin: 30px 0;

        }
        /* contato*/
        .section-header {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:40px;
          color:#000000 ;
          font-weight: 600;
          margin: 30px 0;
        }
      }

      /* MOBILE (telas menores que 800px)*/
      @media (max-width: 800px) {

        .logo {
          width: 250px;

        }
        #icone-whatsapp{
          display: none;
        }
        .slider .slides li img {
          height: 90%;
          width: 100%;
          background-size: cover;
          background-position: center;
      }
        .parallax-container {
          height: 400px;
        }
          /*main*/
          .anuncio{ 
            margin: 30% 0 0 0;
            border-radius: 10px;  
            background: rgba(0, 0, 0, 0.287); 
        }
        .anuncio p{
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 0.2rem;
            font-weight: 700;

        }
        .botao{
          border: solid 2px #ffc107;
          border-radius: 10px;
          background-image: linear-gradient(to right, #f9d423 0%, #a07501 100%);
          background-color: #ffc107;
          color: rgb(0, 0, 0);
          font-weight: 500;
          border-radius: 5px;
          padding: 8px 15px;
          margin: 15px 0 0 0;
          cursor: pointer;
          font-size: 13px;
        }

        .card-image{
          display: none;
        }

        .titulo-financiamento{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:30px;
          color: gray;
          font-weight: 500;
          padding: 0 10px 10px 10px;
        }
        .projetos-titulo{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:30px;
          color: gray ;
          font-weight: 500;
          padding: 0 10px 5px 10px;
        }
        /* serviços*/
        .servicos-titulo{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:30px;
          color:gray;
          font-weight: 600;
          margin: 30px;
          padding: 12px;

        }
        /* contato*/
        .section-header {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:30px;
          color:#000000 ;
          font-weight: 600;
          margin: 30px;
          padding: 12px;
        }
      }
.slider{
  display: flex;
}

.titulos-slider{
  font-weight: 400;
}

.menu:hover{
    color: #ffc107;
}

.horizontal{
  font-weight: 500;
  background-image: linear-gradient(to right, #000000fb 0%, rgba(20, 20, 20, 0.911) 100%);
}

.btn-floating-avcb{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

}

/* serviços*/

.icon-block{
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
.light{
  font-weight: 300;
}
.tema{
  font-weight: 400;
}

.btn-orcamento{
  margin: 30px 0;
}

.btn-orcamento a {
  color:#ffffff;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #8a7302 0%, #dfa404 100%);
}
.btn-orcamento a:hover{
color: #000000;
background-image: linear-gradient(to right, #dfa404 0%, #a07501 100%);
}

.botao:hover{
  color: #fffefe;
  border: solid 2px #000000;
  }

/* CONTATO */
#contact {
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 3px 3px 3px 3px;
  margin: 10px 20px;

}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  background-image: linear-gradient(to top, #c4c5c7ca 0%, #dcdddfa8 52%, #ebebeb 100%);
  margin-bottom: 30px;
  border-radius: 20px;
}

/* Left contact page */
.placeholder{
  color: rgb(3, 3, 3);
}
.form-horizontal {
  /*float: left;*/
  padding-top: 10px;
  max-width: 350px;
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 350px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 350px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  color: #ffffff;
  background: #000000;
  border-radius: 0  0 8px 8px;
}

.send-button:hover{
  background-color: #000000;
}

.alt-send-button {
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.icon{
  color: #000000;
}
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: rgb(0, 0, 0);
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: rgb(0, 0, 0);
}

.place {
  margin-left: 32px;
}

.phone {
  margin-left: 36px;
}

.gmail {
  margin-left: 33px;
}

.contact-text a {
  color: rgb(34, 34, 34);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: rgb(145, 89, 0);
  text-decoration: none;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    

}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/* Midias sociais*/
.midias{
  margin-top: 40px;
}
.social-icons
{
  text-align:right
}
.social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:2px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;
  color:#000000;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.whatsapp:hover
{
  background-color:#018316
}

.consideracoes{
  letter-spacing: .1px;
}

/* SECTION AVCB*/
.main-avcb{
  align-items: center;
  display: flex;
  justify-content: center;
}

.caixa-btn-avcb{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}










/* footer*/
.responsaveis{
  letter-spacing: 1px;
}

.desenvolvedor{
  font-family: 'Dancing Script', cursive;
}